In [1]:
import QuantLib as ql
from pandas import DataFrame
import numpy as np
import utils
%matplotlib inline

In [2]:
depo_maturities = [ql.Period(6,ql.Months), ql.Period(12, ql.Months)]
depo_rates = [5.25, 5.5]
# Bond rates
bond_maturities = [ql.Period(6*i, ql.Months) for i in range(3,21)]
bond_rates = [5.75, 6.0, 6.25, 6.5, 6.75, 6.80, 7.00, 7.1, 7.15,
              7.2, 7.3, 7.35, 7.4, 7.5, 7.6, 7.6, 7.7, 7.8]

maturities = depo_maturities+bond_maturities
rates = depo_rates+bond_rates
DataFrame(list(zip(maturities, rates)),
          columns=["Maturities","Curve"],
          index=['']*len(rates))

 Maturities  Curve
         6M   5.25
         1Y   5.50
       1Y6M   5.75
         2Y   6.00
       2Y6M   6.25
         3Y   6.50
       3Y6M   6.75
         4Y   6.80
       4Y6M   7.00
         5Y   7.10
       5Y6M   7.15
         6Y   7.20
       6Y6M   7.30
         7Y   7.35
       7Y6M   7.40
         8Y   7.50
       8Y6M   7.60
         9Y   7.60
       9Y6M   7.70
        10Y   7.80

In [3]:
calc_date = ql.Date(15, 1, 2015)
ql.Settings.instance().evaluationDate = calc_date

calendar = ql.UnitedStates()
business_convention = ql.Unadjusted
day_count = ql.Thirty360()
end_of_month = True
settlement_days = 0
face_amount = 100
coupon_frequency = ql.Period(ql.Semiannual)
settlement_days = 0

In [4]:
depo_helpers = [
    ql.DepositRateHelper(ql.QuoteHandle(ql.SimpleQuote(r/100.0)),
                         m,
                         settlement_days,
                         calendar,
                         business_convention,
                         end_of_month,
                         day_count)
    for r, m in zip(depo_rates, depo_maturities)
]